<div class="coupons">
    <div class="container">
        <div class="coupons-grids text-center">
            <div class="col-md-3 coupons-gd">
                <h3>BẮT ĐẦU MUA HÀNG VỚI NHỮNG BƯỚC ĐƠN GIẢN</h3>
            </div>
            <div class="col-md-3 coupons-gd">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <h4>ĐĂNG NHẬP VÀO TÀI KHOẢN CỦA BẠN</h4>
                <p>
                    Hoặc đăng ký miễn phí nếu chưa có tài khoản
                </p>
            </div>
            <div class="col-md-3 coupons-gd">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <h4>CHỌN SẢN PHẨM BẠN MUỐN</h4>
                <p>
                    Tìm kiếm sản phẩm trong danh mục sản phẩm.
                </p>
            </div>
            <div class="col-md-3 coupons-gd">
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                <h4>THANH TOÁN</h4>
                <p>
                    Chọn phương thức thanh toàn và nhận hàng
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left">
            <h2><a href="index.html"><img src="~/Content/images/logo3.jpg" alt=" " /></a></h2>
            <p>
                Đề tài website bán đồ thể thao
                <p>
                    Học viên:  
                </p>
                
                <p></p>
            </p>
        </div>
        <div class="col-md-9 footer-right">
            <div class="col-sm-6 newsleft">
                <h3>Đăng ký nhận khuyến mãi</h3>
            </div>
            <div class="col-sm-6 newsright">
                <form>
                    <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="sign-grds">
                <div class="col-md-4 sign-gd">
                    <h4>Thông tin</h4>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Men's</a></li>
                        <li><a href="#">Women's</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Nổi bật</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="col-md-4 sign-gd-two">
                    <h4>Thông tin smart shop</h4>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Địa chỉ :<span></span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="#"></a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +98 966666666</li>
                    </ul>
                </div>
                <div class="col-md-4 sign-gd flickr-post">
                    <h4>Flickr Posts</h4>
                    <ul>
                        <li><a href="single.html"><img src="~/Content/images/b15.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="single.html"><img src="~/Content/images/b16.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="single.html"><img src="~/Content/images/b17.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="single.html"><img src="~/Content/images/b18.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="single.html"><img src="~/Content/images/b15.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="single.html"><img src="~/Content/images/b16.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="single.html"><img src="~/Content/images/b17.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="single.html"><img src="~/Content/images/b18.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="single.html"><img src="~/Content/images/b15.jpg" alt=" " class="img-responsive" /></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <p class="copy-right">&copy @DateTime.Now.Year Smart Shop</p>
    </div>
</div>

<script src="~/Scripts/toastr.js"></script>
<style>
    .addcart{
        cursor:pointer;
    }
</style>
<script>
    $(document).ready(function () {
      
        $('.addcart').click(function () {
            //$('#show-hide').slideDown(1000);
            $.ajax({
                type: 'GET',
                url:'@Url.Action("ThemGioHang", "Home")',
                data:{maSP:this.name},
                success:function(ketqua){
                    $('#GioHangPartial').html(ketqua);
                    toastr.success("Thêm thành công");
                }

            })
            //$('#show-hide').slideUp(2000);
        });

    });
</script>
