<div class="cart box_1">
    <a href="~/Home/Checkout">
        <h3>
            <div class="total">
                <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                <span>@ViewBag.TongTien.ToString("#,##")</span> (<span> @ViewBag.TongSoLuong </span> items)
            </div>

        </h3>
    </a>
    <p><a href="~/Home/Checkout">Giỏ hàng</a></p>
</div>

