<div class="cart box_1">
    <a href="~/Home/Checkout">
        <h3>
            <div class="total">
                <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                <span>@ViewBag.TongTien</span> (<span class="simpleCart_quantity">@TempData["TongSoLuong"] </span> items)
            </div>

        </h3>
    </a>
    <p><a href="~/Home/Checkout" class="simpleCart_empty">Giỏ hàng</a></p>
</div>
